.myButton {
    box-sizing: border-box;
    background-color: #d0b8ac;
    color: #ffffff;
    border: 2px solid #d0b8ac;
    border-radius: 5px;
    padding: 2px;
    margin: 2px 10px;
    width: 80px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'American Typewriter', sans-serif;
    letter-spacing: 0.05cm;
}

.myButton:hover {
    cursor: pointer;
    border: 2px solid black;
    background: #fff;
    color: black;
    transition: all .5s ease;
}

.myButton:disabled {
    border: 2px solid darkgray;
    background-color: gray;
    color: darkgray;
}

