.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    border-radius: 20px;
    background: #34495e;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}

.form__button {
    align-self: center;
}

.form__title {
    font-family: 'American Typewriter', sans-serif;
    letter-spacing: 0.05cm;
    color: white;
}

