.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    z-index: 3;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    display: flex;
    background: black;
    border-radius: 16px;
}

.modal__close {
    position: absolute;
    top: -30px;
    right: -20px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
}

.modal__close:hover {
    transform: scale(1.1);
    opacity: 1;
}

.modal__close::before,
.modal__close::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: white;
}

.modal__close::before {
    transform: rotate(45deg);
}

.modal__close::after {
    transform: rotate(-45deg);
}