.form {
    width: 100%;
    display: grid;
    grid-template-areas: "title input input";
    grid-template-rows: 25px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    column-gap: 5px;
}

.form__input {
    grid-area: input;
    width: 100%;
    border-radius: 10px;
    padding: 1px 5px;
}

.form__title {
    font-family: 'American Typewriter', sans-serif;
    letter-spacing: 0.05cm;
    color: white;
    grid-area: title;
    margin: 0;
    padding: 0;
}

.form__title:first-letter {
    font-family: 'American Typewriter', sans-serif;
    letter-spacing: 0.05cm;
    text-transform: capitalize;
    color:darkred;
}